.element__like {
    min-width: 22px;
    min-height: 19px;
    width: 22px;
    height: 19px;
    cursor: pointer;
    background-image: url(../../../source/images/svg-images/like.svg);
    background-position: center;
    background-repeat: no-repeat;
    padding: 0;
    border: 0;
    background-color: white;
}

.element__like:hover {
    opacity: 0.5;
    transition: opacity 350ms ease;
}